.hidden {
    display: none;
}
#clock {
    text-align: center;
    color: white;
    text-shadow: 0px 0px 7px black;
    font-size: 4em;
}
#greeting {
    text-align: center;
    color: white;
}

form {
    text-align: center;
}

form input[type="text"]{
    background-color: transparent;
    border: none;
    border-bottom: solid 1px white;
}
form input[type="text"]::placeholder {
    color :white;
    text-align: center;
}

form input[type="text"]:focus {
    border: none;
}



form input[type="submit"] {
    background-color: lightgray;
    border: none;
    border-radius: 30px;
    padding: 5px 10px;
}

.flex {
    margin: 30px 10px;
    display: flex;
    flex-wrap: wrap;
}

.flex div {
    background-color: rgba(255,255,255,0.7);
    width: 200px;
    padding: 20px;
    margin: 10px;
}